@model List<P1_Portfolio.Models.Message>
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Messages</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Sender</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Category</th>
        <th>Status</th>
        <th>Delete</th>
        <th>Open Message</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.msgID</td>
            <td>@item.name</td>
            <td>@item.subject</td>
            <td>@item.sendDate</td>
            <td>@item.Category.categoryName</td>
            @if (item.isRead == false)
            {
                <td><a href="/Message/MessageStatusChangeToTrue/@item.msgID" class="btn btn-outline-success">Mark by read</a></td>
            }
            else
            {
        <td><a href="/Message/MessageStatusChangeToFalse/@item.msgID" class="btn btn-success">Mark by unread</a></td>
            }

            <td><a href="/Message/DeleteMessage/@item.msgID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Message/MessageDetails/@item.msgID" class="btn btn-secondary">Open Message</a></td>
        </tr>
    }
</table>