@model List<P1_Portfolio.Models.Message>
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Gelen Mesajlar</h2>

<table class="tabkle table-bordered">
    <tr>
        <th>#</th>
        <th>Gonderen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Mesaji ac</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.msgID</td>
            <td>@item.name</td>
            <td>@item.subject</td>
            <td>@item.sendDate</td>
            <td>@item.Category.categoryName</td>
            @if (item.isRead == false)
            {
                <td><a href="/Message/MessageStatusChangeToTrue/@item.msgID" class="btn btn-outline-success">Okundu olarak isaretle</a></td>
            }
            else
            {
        <td><a href="/Message/MessageStatusChangeToFalse/@item.msgID" class="btn btn-success">Okunmadi olarak isaretle</a></td>
            }

            <td><a href="#" class="btn btn-danger">Sil</a></td>
            <td><a href="/Message/MessageDetails/@item.msgID" class="btn btn-secondary">Mesaji Ac</a></td>
        </tr>
    }
</table>