@model P1_Portfolio.Models.Message

@{
    ViewBag.Title = "MessageDetails";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Message Details</h2>

<b>Sender: </b>@Html.DisplayFor(x => x.name)
<br /><br />
<b>Sender Mail: </b>@Html.DisplayFor(x => x.email)
<br /><br />
<b>Sender Phone: </b>@Html.DisplayFor(x => x.phoneNumber)
<br /><br />
<b>Message Subject: </b>@Html.DisplayFor(x => x.subject)
<br /><br />
<b>Message Detail: </b>@Html.DisplayFor(x => x.messageDetail)
<br /><br />
<b>Date: </b>@Html.DisplayFor(x => x.sendDate)
<br /><br />

@*
    Petshop Klinik Takip Uygulamasi
    Havayolu Biletleme ve Ucus Takip Sistemi
    Ev Insa Projesi
    Kuafor - Berber Randevu Sistemi
    Canli Mac Uygulamasi
    Staj Takip Uygulamasi
    Anlik Borsa Takipi
    Netflix/DisneyPlus Klon
    Yemeksepeti Benzeri
    (Ilac Getir)
    Blog
    Forum
    Tatil Sepeti
*@