
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Statistics</h2>
<div class="alert alert-info">Total Message Count: <b>@ViewBag.messageCount</b></div>
<div class="alert alert-warning">Readed Messages: <b>@ViewBag.messageCountIsReadByTrue</b></div>
<div class="alert alert-danger">Unreaded Messages: <b>@ViewBag.messageCountIsReadByFalse</b></div>
<div class="alert alert-success">Skill Count: <b>@ViewBag.skillCount</b></div>
<div class="alert alert-primary">Total Skill Points: <b>@ViewBag.totalSkillValue</b></div>
<div class="alert alert-secondary">Average Skill Point: <b>@ViewBag.avgSkillValue</b></div>
<div class="alert alert-secondary" style="background-color:lightpink">Email: <b>@ViewBag.getEmailFromProfile</b></div>
<div class="alert alert-secondary" style="background-color:lightcyan">Last Added Category: <b>@ViewBag.getLastCategoryName</b></div>
