@model P1_Portfolio.Models.Experience

@{
    ViewBag.Title = "UpdateExperience";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Edit experience page</h2>

<form method="post">
    
    @Html.HiddenFor(x => x.experienceID, new { @class = "form-control" })

    <label>Company Name</label>
    @Html.TextBoxFor(x => x.companyName, new { @class = "form-control" })
    <br />
    <label>Work Date</label>
    @Html.TextBoxFor(x => x.workDate, new { @class = "form-control" })
    <br />
    <label>Title</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Description</label>
    @Html.TextAreaFor(x => x.Description, 6, 0, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Update Experience</button>
</form>



